<% # Partial to display information about a deputy and provide a button to delete a deputy %>
<h5>Deputies of <%= user %></h5>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User (<%= deputies["user_deputies"].length %>)</th>
          <% if user == current_user.email %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if user == current_user.email %>
          <% deputies["user_deputies"].each do |id, user_dep| %>
            <tr>
              <td><%= user_dep %></td>
                <td align="right">
                  <%= link_to 'Delete', deputy_path(id),
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to delete this deputy?' } %>
                </td>
            </tr>
          <% end %>
        <% else %>
        <tr>
          <td><%= deputies["user_deputies"].values.join(', ') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Group (<%= deputies["group_deputies"].length %>)</th>
          <% if user == current_user.email %>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if user == current_user.email %>
          <% deputies["group_deputies"].each do |id, group| %>
            <tr>
              <td><%= group %></td>
                <td align="right">
                  <%= link_to 'Delete', deputy_path(id),
                        method: :delete,
                        class: 'btn btn-danger',
                        data: { confirm: 'Are you sure you want to delete this deputy?' } %>
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td><%= deputies["group_deputies"].values.join(', ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr>
