<!DOCTYPE html>
<html>
  <head>
    <title>Material Permissions Manager | Aker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# navbar comes from aker_shared_navbar engine %>
    <%= render partial: "navbar" %>

    <div class="container" id="content">
      <h1>Material Permissions Manager</h1>
      <div class="row">
        <div class="col-md-12">
          <%= render "flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer style="text-align:center">
      <% if Projects::Application::VERSION.present? %>
        <%= 'Version: ' + Projects::Application::VERSION[0..6] %>
      <% end %>
    </footer>
  </body>
</html>
